$color-sand: #fff6f3;
$color-coal: #22222a;
$color-cerise: #ff2d86;
$color-orange: #ff6a00;
$color-red: #e31b23;
$color-warning: #ffd23f;
$color-info: #47e3ff;
$color-success: #37f74a;
$color-light: #f0f0f0;
