$voxette-colors: (
  Sand: "#FFF6F3",
  Coal: "#22222A",
  Cerise: "#FF2D86",
  Orange: "#FF6A00",
  Red: "#E31B23",
  Warning: "#FFD23F",
  Info: "#47E3FF",
  Success: "#37F74A",
  Light: "#F0F0F0",
);
