/**********     MAIN    **********/

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #22222A;
}
h1,
h2,
h3,
h4 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

p {
  max-width: 80ch;
}

/**********     LINKS    **********/

a {
  color: #0069b2;
}

a:hover {
  text-decoration: none;
}

/**********     TABLES    **********/

tbody th {
  font-weight: bold;
}
